/* Variables **********************************************************/
:root {
  /* colors ****/
  --color-primary: #5fd788;
  --color-white: #fff;
  --color-grey-scale-800: #1f2937;
  --color-grey-scale-100: #f3f4f6;

  /* font-size ****/
  --body-small: 2rem;
  --body-medium: 1.4rem;
  --body-large: 1.6rem;
  --body-xlarge: 1.8rem;

  /* break points ****/
  --bp-mobile: 415px;
  --bp-tablet: 835px;
  --bp-desktop: 1440px;

  /* hamburger menu */
  --bur-line-width: 35px;
  --bur-line-height: 5px;
  --bur-line-gap: 5px;
  --hamburger-height: calc(
    var(--bur-line-height) * 3 + var(--bur-line-gap) * 2
  );
}

/* CSS Base **********************************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: var(--body-small);
  font-weight: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  width: 40px;
  height: 40px;
}

.container {
  max-width: calc(var(--bp-desktop));
  margin: 0 auto;
}

.collapsible__content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__content {
  height: 100%;
  opacity: 1;
}

.hidden {
  height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.show-content {
  height: 100%;
  opacity: 1;
}
/* Typography **********************************************************/
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

/* Hamburger Menu ***************************************************/
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: inline-flex;
  flex-direction: column;
  gap: var(--bur-line-gap);
  width: max-content;
  cursor: pointer;
}
/* @media screen and (min-width: 835px) {
  .hamburger-menu {
    display: none;
  }
} */
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bur-line-width);
  height: var(--bur-line-height);
  background-color: black;
  border-radius: 20px;
  transform-origin: left center;
  transition: opacity 0.7s, width 0.7s, rotate 0.7s;
}

.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bur-line-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bur-line-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

/* Navbar ************************************************************/
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.nav__list {
  width: 100%;
  text-align: center;
}

.nav__item {
  padding: 1rem 1rem;
}

.nav__item a:hover {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}
.nav__item a {
  font-size: var(--body-small);
  color: var(--color-grey-scale-800);
}

/* Logo ************************************************************/
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__text {
  color: var(--color-grey-scale-800);
  font-size: var(--body-small);
  font-weight: 600;
  padding: 0.4rem 1rem;
}
.logo .icon {
  fill: var(--color-primary);
  width: 34px;
  height: 34px;
}

/* Search ************************************************************/
.search-box {
  width: 100%;
  display: flex;
  border-radius: 40px;
  background-color: var(--color-grey-scale-100);
  margin: 2rem 0;
}

.search-box input[type="search"] {
  background-color: var(--color-grey-scale-100);
  outline: none;
  width: 0;
  border: 1px solid var(--color-grey-scale-100);
  border-radius: 40px;
  padding-left: 2rem;
  font-family: inherit;
  font-size: var(--body-small);
  flex: 1;
}

.btn-search {
  height: 55px;
  width: 55px;
  background-color: var(--color-grey-scale-100);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
}

.btn-search .icon {
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.btn-search .icon:hover {
  fill: var(--color-primary);
}

/* @media screen and (min-width: 835px) {
  body {
    background-color: red;
  }
} */
