/* Variables **********************************************************/
:root {
  /* colors ****/
  --color-primary: #5fd788;
  --color-white: #fff;
  --color-grey: #f9fafb;

  /* font-size ****/
  --body-small: 1.2rem;
  --body-medium: 1.4rem;
  --body-large: 1.6rem;
  --body-xlarge: 1.8rem;

  /* break points ****/
  --bp-mobile: 375px;
  --bp-tablet: 834px;
  --bp-desktop: 1440px;

  /* hamburger menu */
  --bur-line-width: 35px;
  --bur-line-height: 5px;
  --bur-line-gap: 5px;
  --hamburger-height: calc(
    var(--bur-line-height) * 3 + var(--bur-line-gap) * 2
  );
}

/* CSS Reset **********************************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: var(--body-small);
  font-weight: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  width: 40px;
  height: 40px;
}

/* Typography **********************************************************/
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

/* Hamburger Menu ***************************************************/
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: inline-flex;
  flex-direction: column;
  margin: 20px;
  gap: var(--bur-line-gap);
  width: max-content;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bur-line-width);
  height: var(--bur-line-height);
  background-color: black;
  border-radius: 20px;
  transform-origin: left center;
  transition: opacity 0.7s, width 0.7s, rotate 0.7s;
}

.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bur-line-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bur-line-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

/* Navbar ************************************************************/
